:root {
  --primary: #36622b;
  --secondary1: #c6e377;
  --bg: #fefeff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: var(--primary);
}

/* navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg);
  position: fixed;
  top: 0;
  z-index: 99999;
  left: 0;
  right: 0;
}
.navbar .navbar-nav a {
  color: var(--secondary1);
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 0.8);
  font-size: 1.2rem;
  display: inline-block;
  margin: 0 1rem;
  font-weight: 600;
}

.navbar .navbar-nav a button {
  background-color: var(--primary);
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
  display: inline-block;
  text-shadow: none;
  color: var(--bg);
  font-size: 1rem;
  font-weight: 700;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  transform: none;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
  text-shadow: none;
}
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.2rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}
.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}
.navbar .navbar-extra a {
  color: var(--primary);
  margin: 0 0.5rem;
  margin: 0 1rem;
}

.navbar .navbar-extra a:hover {
  color: var(--secondary1);
}

#menu {
  display: none;
}

/* Hero section */

.hero {
  display: flex;
  min-height: 100vh;
  align-items: center;
  background-image: url(../img/bg-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 7%,
    rgba(1, 1, 3, 0) 55%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 55%;
}

.hero .content h1 {
  font-size: 3rem;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 0.3);
  line-height: 1.2;
  color: var(--secondary1);
}

.hero .content h1 span {
  color: var(--primary);
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 0.3);
}

.hero .content p {
  margin-top: 1rem;
  font-weight: 300;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.1);
}

.hero .cta {
  margin-top: 1rem;
  margin-right: 1rem;
  background-color: var(--primary);
  border: none;
  border-radius: 8px;
  display: inline-block;
  box-shadow: 1px 1px 3px;
  color: var(--bg);
  display: inline-block;
  padding: 12px 36px;
  font-weight: 600;
  box-shadow: 1px 1px 3px rgba(2, 2, 1, 0.5);
}

.hero .ctb {
  margin-top: 1rem;
  border: 1px solid var(--primary);
  padding: 12px 36px;
  border-radius: 0.5rem;
  display: inline-block;
  color: var(--primary);
  font-weight: 600;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
}

/* about section */

.about,
.product,
.contact,
footer {
  padding: 7rem 7% 1.4rem;
}

.about h2,
.product h2,
.contact h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.about h2 span,
.product h2 span,
.contact h2 span {
  color: var(--secondary1);
}

.about .row {
  display: flex;
}

.about .row about-img {
  flex: 1 1 65rem;
}

.about .row .about-img img {
  width: 100%;
  margin-bottom: 3rem;
}

.about .row .content {
  flex: 1 1 45rem;
  padding: 0 2rem;
  margin-top: -1rem;
}

.about .row .content h3 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.about .row .content h3 span {
  color: var(--secondary1);
}

.about .row .content p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6rem;
  margin-bottom: 0.8rem;
  color: black;
}

/* Product section start  */

.product h2,
.contact h2 {
  padding: 1rem;
}

.product p,
.contact p {
  margin: auto;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5rem;
  max-width: 40rem;
}

.product .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
}

.product .row .product-card {
  text-align: center;
  padding-bottom: 4rem;
}

.product .row .product-card img {
  width: 80%;
  border-radius: 50%;
}

.product .row .product-card .product-card-tittle {
  margin: 1rem auto 0.5rem;
}

/* Product section end  */

/* Contact */

.contact .row {
  margin-top: 2rem;
  display: flex;
  background-color: var(--bg);
}

.contact .row .map {
  flex: 1 1 45rem;
  object-fit: cover;
  width: 100%;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 2px solid var(--primary);
  padding-left: 2rem;
  border-radius: 12px;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.2rem;
  background: none;
  color: var(--primary);
}

.contact .row form button {
  margin-top: 3rem;
  padding: 1.2rem 2.4rem;
  border-radius: 8px;
  background-color: var(--primary);
  color: var(--bg);
  font-size: 1.2rem;
  cursor: pointer;
}

/* Footer */

footer {
  background-color: rgba(1, 70, 1, 0.5);
  text-align: center;
  padding: 1.5rem 3rem;
  margin-top: 3rem;
}

footer .social {
  padding: 0.5rem 0rem;
}

footer .social a {
  color: var(--secondary1);
  margin: 1rem;
}

footer .social a:hover {
  color: var(--primary);
}

footer .links {
  margin-bottom: 0.7rem;
}

footer .links a {
  color: var(--bg);
  margin: 0.7rem;
}
footer .links a:hover {
  color: var(--primary);
}

footer .credit a {
  color: var(--secondary1);
  font-weight: 700;
}
footer .credit {
  color: var(--bg);
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgba(54, 98, 43, 0.2);
    width: 30rem;
    height: 100vh;
    transition: 1s;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a {
    display: block;
    margin: 1rem;
    font-size: 2rem;
    padding: 0.5rem;
    color: #fefeff;
  }
  .navbar .navbar-nav a:hover {
    color: var(--primary);
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 42rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .content .row h3 {
    font-size: 3rem;
  }

  .about .content .row p {
    font-size: 1.6rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding: 0;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
